.wrapper {
    width: 100%;               /* Full width */
    max-width: 1200px;         /* Limit the content width */
    margin: 0 auto;            /* Center the container horizontally */
    padding: 20px;             /* Add space inside the container */
    box-sizing: border-box;     /* Include padding in width */
    background-color: rgb(159, 38, 246);
  }
  
.container {
    display: flex;        /* Flex layout */
    justify-content: space-between; /* Space between items */
    align-items: center;  /* Vertically center items */
    padding: 20px;
    gap: 20px;           /* Space between items */
  }
  

.top {
    align-items: center;
}

h4 {

    color: whitesmoke;

}

.main {

    margin-left: 10px;
}