.wrapper {
    width: 100%;               /* Full width */
    max-width: 1200px;         /* Limit width */
    margin: 0 auto;            /* Center the content */
    padding: 20px;
    box-sizing: border-box;
    display: flex;             /* Flex layout */
    flex-direction: column;     /* Vertical layout (2 rows) */
    gap: 20px;                 /* Space between rows */
    background-color: rgb(159, 38, 246);
    height: 100vh;             /* Full height screen */
}

.container {
    display: flex;
    flex-direction: column;     /* Make 2 rows layout */
    height: 100%;              /* Full height for container */
    gap: 20px;                 /* Space between navbar and content */
}

.navbar {
    font-family: sans-serif;
    font-size: 100%;
    display: flex;             /* Horizontal menu */
    justify-content: space-around; /* Equal space between items */
    align-items: center;       /* Vertically center items */
    padding: 20px; 
    background-color: rgb(202, 255, 26);
    border-radius: 2px;        /* Rounded corners */
    text-align: center;
}

a {
    text-decoration: none; /* Remove underline */

}

.content {
    flex: 1;                   /* Fill remaining space */
    padding: 20px;
    background-color: rgb(45, 255, 26);
    border-radius: 2px;       /* Rounded corners */
    text-align: center;
}


.top {
    align-items: center;
}

h4 {

    color: rgb(0, 0, 0);

}

.main {

    margin-left: 10px;
}